<%- include ('partials/header.ejs') %>

  <div class="/starter-template">
    <h1>Bootstrap starter template</h1>
    <p class="lead"><br/>
      "dependencies": {<br/>
      "ejs": "^3.0.1",<br/>
      "express": "^4.17.1",<br/>
      "mysql2": "^2.0.1",<br/>
      "nodemon": "^2.0.1",<br/>
      "sequelize": "^5.21.2"</p><br/>
      <p>Using MariaDB</p>
      <p>Simplest CRUD</p>
      <p>There's some relation people table and username table</p>
      <p>Creating pagination with Sequelize</p>
  </div>

  <%- include ('partials/footer.ejs') %>


